
.footer {
    background-color: white;
    padding: 20px;
    text-align: end;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo {
    flex: 1;
    text-align: left;
  }
  
  .footer-social {
    flex: 1;
  }
  
  .footer-social img {
    width: 30px; 
    margin: 0 10px; 
  }
  
  .footer-info {
    flex: 1;
    text-align: right;
    color: #B40ADF;
  }
  
  